@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

.wrapperOpt {
  display: inline-flex;
  background: transparent;
  height: 90px;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
}
section {
  width: 50%;
  margin: 0 auto;
  background-color: #efefef;
}

p {
  width: 100%;
  height: 5em;
  background-color: #efefef;
  padding: 0.5em;
  overflow: auto;
}
.pointer {
  cursor: pointer;
}
th {
  vertical-align: middle !important;
  text-align: left;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.wrapperOpt .option {
  font-family: inherit;

  background: #efefef;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 0.5px solid gray;
  transition: all 0.3s ease;
}
.wrapperOpt .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
.wrapperOpt .option .dot::before {
  position: absolute;

  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #e9204f;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #e9204f;
  background: #e9204f;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
  margin-right: 5px;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapperOpt .option span {
  font-size: 0.75em;
  color: #000;
  font-weight: bold;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

td,
th {
  text-align: center;
}

.customSelect {
  font-size: 1em;
  /* background-color: #; */
  border-radius: 3px;
  border: none;

  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.75em;
  background: rgb(239, 239, 239);
  font-weight: 600;
  border: solid 0.5px gray;
  color: #000;
  padding: 1em 1.5em;
}
.custombutton {
  font-size: 1em;
  /* background-color: #; */
  border-radius: 3px;
  border: none;

  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.75em;
  line-height: 1;
  margin: 0;
  padding: 1em 1.5em;
  text-decoration: none;

  border: solid 0.5px gray;
  color: #000;
  height: 45%;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover {
  background-color: #e9204f;
  color: white;
}
